<ul class="list-group ">
  <li class="list-group-item d-flex mt-2 d-flex justify-content-between">
    <strong>Annonce : {{ article.prenom }}</strong>
    <p class="ml-2"></p>
    <a href="{{ path('blog_show', { id: article.id }) }}"class="btn btn-primary" >Voir l'animal</a>
  </li>
</ul>
