{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<div class="picture">
    <h1>{{ title }}</h1>
</div>

<div class="container d-flex justify-content-between mt-5 mb-5">
    <a class="btn btn-primary" href="{{ path('admin_categories') }}">Catégories</a>
    <a class="btn btn-primary" href="{{ path('admin_annonces') }}">Annonces</a>
    <a class="btn btn-primary" href="{{ path('admin_users_admin') }}">Utilisateurs</a>

</div>

{% endblock %}
