{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<div class="picture">
    <h1>{{ title }}</h1>
</div>

<div class="container">
    <a class="btn btn-primary" href="{{ path('admin_categories') }}">Catégories</a>
</div>

{% endblock %}
