.picture{
    height: 400px;
    background-image: url('../../images/renard.jpeg');
    @include backgroundPos;
    @include verticalCenter;
    margin-bottom: 50px;

    h1{
        color:white;
        text-shadow: 1px 1px 2px black;
    }
}
.block{
    width: 90%;
    margin: auto;
    margin-top: 30px;

}

.block_animals{
    height: 400px;
    background-image: url('../../images/cat.jpeg');
    background-attachment: fixed;
    @include backgroundPos;
    @include verticalCenter;
    flex-direction: column;
    margin-top: 200px;
    margin-bottom: 200px;

    h2{
        color: white;
        text-shadow: 1px 1px 2px black;
        margin-bottom: 100px;

    }
}

.maps{
    display: flex;
    justify-content: center;

    iframe{
        width: 80%;
        margin-bottom: 100px;
    }
}
.boutton{
    margin-bottom: 100px;
}
.footer{
    height: 200px;
    display: flex;
    color: white;


    .first_block{
        display: flex;
        align-items: center;
        width: 50%;
        height: 100%;

        li{
            margin-top: 20px;
        }
    }
    .second_block{
        width: 50%;
        height: 100%;
    }

}
.bas_footer{
    width: 100%;
    color: black;
    background-color: rgb(182, 170, 170);
}
