.display_form{
    display: none;
}

#erreur_rna{
    color:white;
    background-color: rgb(202, 61, 61);
    width: 625px;
    padding-left: 7px;
}
#validation_rna{
    color:white;
    background-color: rgb(19, 124, 19);
    padding-left: 7px;
    width: 325px;


}