{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<div class="picture">
    <h1>{{ title }}</h1>
</div>

    {{ form_start(form) }}

<div class="container mb-4 text-center">
    {{ form_row(form.titre, {'label': 'Catégorie :','attr': {'placeholder':'Entrer ici la catégorie'}}) }}
    <button class="btn btn-primary mb-2 mt-2" type="submit">
        envoyer
</button>


</div>
    {{ form_end(form) }}


{% endblock %}
