{% extends 'base.html.twig'%}

{% block body %}
<div class="picture">
    <!-- <img src="" id="img" width="1800px" height="500px"> -->
    <h1>{{ title }}</h1>
</div>

<h1 class="text-center mt-4 mb-4">Bienvenue sur Project Association</h1>
<div class="block">
    <p class="text-center">Project association est une platerfome en ligne spécialement dédié pour les réfuges qui peine à faire adopter les animaux abondonnée, et qui non pas de visibilité dans le milieu digital, grâce à project association on compte vous aider pour améliorer la visibilité de votre refuge.</p>
</div>
<div class="containe text-center mt-5">
    <p id="erreur"></p>
    <img src="" id="img" width="400px" height="400px">

</div>

<!-- button vers annonces -->

<div class="block_animals">
    <h2 class="text-center">Retrouvez toutes les annonces des animaux à adopter, ici actuellement {{ articles | length}} annonces se trouve sur notre site</h2>
    

    <a class="btn btn-primary" href="{{ path('blog') }}">Découvrer les animaux</a>
    
</div>

<div class="maps"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d30521.031563372242!2d6.183256656711402!3d48.67722988618648!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2sfr!4v1612791594524!5m2!1sfr!2sfr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
   
</div>
<div class="boutton text-center">
    <button type="button" class="btn btn-primary btn-lg">Nous contacter</button>
</div>

    {% block javascript %}
        <script src="{{ asset('js/api_image.js') }}"></script>
    {% endblock %}



{% endblock%}