{% extends 'base.html.twig'%}



{% block body %}
<div class="picture">
    <h1>{{ title }}</h1>
</div>

<h1 class="text-center mt-4 mb-4">Bienvenue sur Project Association</h1>
<div class="block">
    <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos temporibus iste accusantium sit rerum harum expedita non eius repellat ipsum. Sunt quod ex excepturi odit in. Saepe vero quidem pariatur ducimus culpa labore voluptatum debitis ad iusto? Commodi, placeat aperiam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi commodi molestias quasi minus sequi cumque, vel exercitationem, distinctio doloribus ipsum numquam eligendi, nobis velit. Unde itaque qui quaerat commodi dolorum!</p>

</div>

<div class="block_animals">
    <h2>Retrouvez toutes les annonces des animaux à adpter ici</h2>
    <button type="button" class="btn btn-primary">Annonces</button>
</div>

<div class="maps"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d30521.031563372242!2d6.183256656711402!3d48.67722988618648!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2sfr!4v1612791594524!5m2!1sfr!2sfr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
   
</div>
<div class="boutton text-center">
    <button type="button" class="btn btn-primary btn-lg">Nous contacter</button>
</div>





{% endblock%}